<!DOCTYPE html>
<html>
	<head>
		<title>넌 뭐하냐눙</title>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/web/css/common.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<div id="fb-root"></div>
		<script>

function statusChangeCallback(response) {
  if (response.status === 'connected') {
    nunc_login();
  } else if (response.status === 'not_authorized') {
		alert("페이스북 권한 승인이 필요합니다.");
  } else {
    {% if user.is_authenticated %}
    location.href="/logout/";
	  {% endif %}
  }
}

function checkLoginState() {
  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
}

window.fbAsyncInit = function() {
  FB.init({
    appId      : '423216974499409',
    cookie     : true,
    xfbml      : true,
    version    : 'v2.1'
  });

  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=423216974499409&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

function nunc_login() {
  if($("#login-status").text() == '로그인'){
      FB.api('/me', function(response) {
      $("#email").val(response.email);
      $("#first_name").val(response.first_name);
      $("#last_name").val(response.last_name);
      $("#id").val(response.id);
      $("#name").val(response.name);
      $("#login-form").submit();
    });
    $("#login-statue").text('로그아웃');
  }
}




		$("document").ready(function(){
    $("#make-card-submit").click(function(){
		    $("#card-form").submit();
      });
    $("#login").click(function(){
        $(".fb-login-button").eq(0).click();
    });
    {% block ready %}
    {% endblock %}
		});
		</script>
		<script src="/static/web/js/facebook.js"></script>
		<script src="/static/web/js/common.js"></script>
		<script src="/static/web/js/youtube.js"></script>

	</head>
	<body>
		<div id="header">
			<div id="header-box">
				<a href="/">Project Nunc</a>
			</div>
		</div>
		<div id="nunc-container" class="clearfix">
			<div id="main-left">
				<div id="sidebar">
					<div id="status"></div>
					<ul class="list-group">
						<li id="user-profile" class="list-group-item">
							{% if user.is_authenticated %}
							<img style="width:60px; height:60px;" src="http://graph.facebook.com/{{ user.facebook_id }}/picture" />
							{% else %}
							<img style="width:60px; height:60px;" src="/static/web/Review_CEO.png" />
							{% endif %}
							<span>{{ user.username }}</span>
						</li>
						<li id="make-card" class="list-group-item" ><a href="/">다른이들의 시간</a></li>
						<li id="make-card" class="list-group-item" data-toggle="modal" data-target="#make-card-modal"><a href="#">리스트 만들기</a></li>
						<li id="mypage" class="list-group-item"><a href="/card/">마이페이지</a></li>
						<li id="login" class="list-group-item">
							<div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState()"></div><span id="login-status">{% if user.is_authenticated %}로그아웃{% else %}로그인{% endif %}</span>
						</li>
					</ul>
				</div>
				<div class="card-set">
				</div>
			</div>
			<div id="main-center">
				{% block body %}
				{% endblock %}
			</div>
			<div id="main-right">
				<div id="player"></div>
			</div>
			<form id="login-form" action="/login/" method="post">
				{% csrf_token %}
				<input id="email" type="hidden" name="email" value="" />
				<input id="first_name" type="hidden" name="first_name" value="" />
				<input id="last_name" type="hidden" name="last_name" value="" />
				<input id="id" type="hidden" name="id" value="" />
				<input id="name" type="hidden" name="name" value="" />
			</form>
			<form id="logout-form" action="/logout/" method="get">
			</form>
		</div>
	</body>
</html>

<!-- 카드생성 검색 모달 -->
<div class="modal fade" id="make-card-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a type="a" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">새로운 카드를 만듭니다.</h4>
			</div>
			<form id="card-form" action="card/" method="post">
				{% csrf_token %}
				<div class="modal-body clearfix">
					<div class="form-group clearfix">
						<label class="col-sm-3 control-label">카드 이름</label>
						<div class="col-sm-9">
							<input name="card_title" type="text" class="form-control" placeholder="기분좋은" />
						</div>
					</div>

					<div class="form-group clearfix">
						<label class="col-sm-3 control-label">카드에 대한 설명</label>
						<div class="col-sm-9">
							<input name="card_desc" type="text" class="form-control" placeholder="기분좋은날 추가한 리스트" />
						</div>
					</div>

					<div class="form-group clearfix">
						<label class="col-sm-3 control-label">카드 공유 여부</label>
						<div class="col-sm-9">
							<div class="col-sm-6 row">
								<label><input name="is_public" type="radio" value="1" checked="checked"/> 이 카드를 공유할레요</label>
							</div>
							<div class="col-sm-6">
								<label><input name="is_public" type="radio" value="0"/> 이 카드는 나만의 것이에요</label>
							</div>
						</div>
					</div>
				</div> <!-- end body -->
			</form>
			<div class="modal-footer">
				<a id="close_modal_adv" type="a" class="btn btn-default" data-dismiss="modal">닫기</a>
				<a id="make-card-submit" type="a" class="btn btn-primary">추가</a>
			</div>
		</div>
	</div>
</div>
