{% extends 'base.html' %}
{% block ready %}
	$(".pin").click(function(){
	var id = $(this).attr('card-id');
	location.href="/card/" + id;
	});
{% endblock %}
{% block body %}
	<div id="profile">
		<h2>
			<img src="http://graph.facebook.com/{{ user.facebook_id }}/picture" class="img-circle" />
			<span>{{ user.username }}</span>
		</h2>
		<p>이곳은 저의 프로필이에요. 너눙프로젝트 잘 되면 좋곘어요</p>
	</div>
	<div id="card-list">
		{% for card in cards %}
		<div class="pin" card-id="{{ card.id }}">
      <img src="http://graph.facebook.com/{{ user.facebook_id }}/picture?width=200&height=200" alt="PlaceKitten" />
      <p>{{ card.name }}</p>
			<p>{{ card.desc }}</p>
		</div>
		{% endfor %}
	</div>
{% endblock %}
