{% extends 'base.html' %}
{% block ready %}
	$(".pin").click(function(){
	var id = $(this).attr('card-id');
	location.href="/card/" + id;
	});


	$("#submit").click(function(){
	$("#profile-form").submit();
	});
{% endblock %}
{% block body %}
	<div id="profile">
		<h2>
			<img src="http://graph.facebook.com/{{ user.facebook_id }}/picture" class="img-circle" />
			<span>{{ user.username }}</span>
		</h2>
		<p id="profile-text" data-toggle="modal" data-target="#profile-modal">{% if user.profile %}{{ user.profile }}{% else %}이곳을 클릭해서 개인 프로필을 등록해 주세요{% endif %}</p>
	</div>
	<div id="card-list">
		{% for card in cards %}
		<div class="pin" card-id="{{ card.id }}">
      <img src="{{ card.video_set.first.image_url}}" />
      <p>{{ card.name }}</p>
			<p>{{ card.desc }}</p>
		</div>
		{% endfor %}
	</div>

<div id="profile-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">문구 변경</h4>
			</div>
			<div class="modal-body" id="area_information">
				<form id="profile-form" action="/users/profile/" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="local_name">프로필을 입력합니다.</label>
						<textarea name="profile" class="form-control" placeholder="저의 담벼락이에요. 날씨가 좋군요">{{ user.profile }}</textarea>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" id="submit" class="btn btn-primary">등록</button>
				</div>

			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
{% endblock %}
