{% extends "base.html" %}
{% block ready %}
{% endblock %}
{% block body %}
	<div id="profile">
		<h2 style="margin-top:0;">
			<span>{{ user.username }}님 반갑습니다.</span>
		</h2>
		<p>다른이들의 음악을 들어보세요.</p>
	</div>
	<div id="card-list">
		{% for card in cards %}
		<div class="pin" card-id="{{ card.id }}">
      <img src="{% if card.video_set.exists %}{{ card.video_set.first.image_url }}{% else %}http://graph.facebook.com/{{ user.socialaccount_set.first.uid }}/picture?type=large{% endif %}" />
      <p>{{ card.name }}</p>
			<p>{{ card.desc }}</p>
		</div>
		{% endfor %}
	</div>


{% endblock %}
