<!DOCTYPE html>
<html>
<head>
	<title>넌 뭐하냐눙</title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<style type="text/css">
		#header {
			background-color: blue;
			height: 80px;
		}
		#main_left {
			background-color: green;
			height:600px;
		}
		#main_center {
			background-color: yellow;
			height: 600px;
		}
		#main_right {
			background-color: red;
			height: 600px;
		}
		#footer {
			background-color: black;
			height: 80px;
		}
	</style>
</head>
<body>
	<div id="header">
		header
	</div>
	<div class="container">
		<div class="row">
			<div id="main_left" class="col-md-2">
				left login and cards
			</div>
			<div id="main_center" class="col-md-8">
				user's cards
			</div>
			<div id="main_right" class="col-md-2">
				now playing list
			</div>
		</div>
	</div>
	<div id="footer">
		footer
	</div>
</body>
</html>
