<!DOCTYPE html>
<html>
	<head>
		<title>너눙 페이스북 로그인</title>
		<meta charset="UTF-8">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	<body>
		<script>
			function statusChangeCallback(response) {
			if (response.status === 'connected') {
      nuncLoginApi();
			} else if (response.status === 'not_authorized') {
			console.log('Please log ' + 'into this app.');
			} else {
      console.log('Please log ' + 'into Facebook.');
			}
			}

			function checkLoginState() {
			FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
			});
			}

			window.fbAsyncInit = function() {
			FB.init({
			appId      : '423216974499409',
			cookie     : true,  // enable cookies to allow the server to access
			xfbml      : true,  // parse social plugins on this page
			version    : 'v2.1' // use version 2.1
			});

			FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
			});

			};

			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			// Here we run a very simple test of the Graph API after login is
			// successful.  See statusChangeCallback() for when this call is made.
			function nuncLoginApi() {
			FB.api('/me', function(response) {

			console.log(response);
			$("#email").val(response.email);
			$("#first_name").val(response.first_name);
			$("#last_name").val(response.last_name);
			$("#id").val(response.id);
			$("#name").val(response.name);
			$("form").eq(0).submit();

			});
			}
		</script>

		<!--
				Below we include the Login Button social plugin. This button uses
				the JavaScript SDK to present a graphical Login button that triggers
				the FB.login() function when clicked.
			-->

		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>

		<form action="/login/" method="post">
			{% csrf_token %}
			<input id="email" type="hidden" name="email" value="" />
			<input id="first_name" type="hidden" name="first_name" value="" />
			<input id="last_name" type="hidden" name="last_name" value="" />
			<input id="id" type="hidden" name="id" value="" />
			<input id="name" type="hidden" name="name" value="" />
		</form>
	</body>
</html>
