{% extends 'base.html' %}
{% block ready %}
	$(".pin").click(function(){

	var key = $(this).attr("video-key");
	player.loadVideoById(key, 5, "large")

	});
{% endblock %}
{% block body %}
	<div id="profile" class="clearfix">
		<h2>
			{{ card.name }}
		</h2>
		<div id="card-profile" class="col-sm-8 row">
			<p>{% if card.desc %}{{ card.desc }}{% else %}이곳을 클릭해서 이 카드에 대한 설명을 등록해주세요.{% endif %}</p>
		</div>
		<div class="col-sm-4">
			<form action="" method="post">
				{% csrf_token %}
				<input name="query" id="add-input" class="form-control col-sm-8" style="width:80%;" type="text" />
				<button id="add-button" class="btn btn-default col-sm-4" style="width:19%;">추가</button>
			</form>
		</div>

	</div>
	<div id="video-list">
		{% for video in videos %}
		<div class="pin video-pin" card-id="{{ card.id }}" video-key="{{ video.key }}">
			<div class="col-sm-6 row">
				<img class="video-img" src="{{ video.image_url_medium }}" alt="영상 섬네일" />
			</div>
			<div class="col-sm-6">
				{{ video.title }}
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
