#player {
	width:300px;
	height:200px;

}
#header {
	background-color: #98c21c;
	height: 50px;

}

#header-box {
	position:absolute;
	left:5px;
	top:12px;
	font-size:24px;
}
#nunc-container {
	margin: auto;
	height: 800px;
}
#main-left {
	background-color: #e9eade;
	width: 150px;
	position:absolute;
	overflow:hidden;
	left:0;
	height: 800px;
}
#main-center {
	background-color: #cccbcb;
	min-width:300px;
	position:absolute;
	left:150px;
	right:300px;
	height: 800px;
	padding:20px;
	overflow-x:scroll

}
#main-right {
	position:absolute;
	right:0;
	background-color: #e9eade;
	width: 300px;
	height:800px;
}
#sidebar {
	margin: 10px;
	font-size: 8pt;
}
.card-set {
	margin: 10px;
	width: 85%;
	height: 100px;
	background-color: #98c21c;

}
.list-group-item {
	cursor:pointer;
}

ul {
	list-style-type:none;
}

a:focus, a:hover {
	text-decoration:none;
}

#profile {
	margin-bottom:20px;
	border-bottom:1px solid;
}

#profile-text {
	cursor:pointer;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#card-list {
}

.pin {
	width:310px;
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

a {
	color:black;
}

.video-pin {
	width:49%;
}

.video-pin img {
	width: 100%;
	height: 100px;
	border:0;
	margin-bottom:10px;
	padding:0;
}
